.search-button {
    flex-direction: row;
    display: flex;
    justify-content: flex-end;
    padding: 20px 30px;
}
.filter-body{
    padding: 20px 20px;
    /*min-height: 20vh;*/
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
}
.flex-body{
    display: flex;
    flex-wrap: wrap;
}