.App {
  text-align: center;
}
#wrapper > div {
  font-family: Indie Flower, serif !important;
}
.login-form > div {
  width: 100%
}
.flower div{
  font-family: Indie Flower, serif !important;
}

body > div > div{
  font-family: Indie Flower, serif !important;
}
.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 20vmin;
}
.overlay{
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 40px;
  max-width: 220px;
}
.main-gear{
  animation: App-logo-spin infinite 6s linear;
  padding: 0;
  margin-right: -12px;
  margin-top: 30px;
  max-width: 150px;
  max-height: 150px;
}
.secondary-gear{
  animation: App-logo-spin-reverse infinite 3s linear;
  transform: rotate(-25deg);
  padding: 0;
  margin-bottom: 30px;
  max-width: 75px;
  max-height: 75px;
}
.inner-gear{
  animation: App-inner-spin infinite 2.4s linear;
  /*transform: rotate(-29deg);*/
  position: absolute;
  top:140px;
  left:116px;
  padding: 0;
  max-width: 40px;
  max-height: 40px;
}
.App-nav {
  display: flex;
  padding-bottom: 1vh;
}

.App-header {
  background-color: #dcf6ff;
  min-height: 20vh;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-around;
  font-size: calc(10px + 2vmin);
  color: white;
}

.app-body {
  min-height: 50vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.filter-body{
  padding: 20px 20px;
  /*min-height: 20vh;*/
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.error-body{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@keyframes App-inner-spin {
  from {
    transform: rotate(25deg);
  }
  to {
    transform: rotate(385deg);
  }
}
@keyframes App-logo-spin-reverse {
  from {
    transform: rotate(-25deg);
  }
  to {
    transform: rotate(-385deg);
  }
}
